.main-content {
  max-width: 750px;
  margin: 0 auto;
  padding: 1em;
  gap: 2em;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2em;
  line-height: 0.9em;
  margin-bottom: 0.25em;
}
.srl {
  font-weight: 800;
}
.footnotes {
  font-size: 0.5em;
  line-height: 1.25em;
  margin-left: 2em;
}

img {
  max-width: 100%;
}
ol li {
  padding: 1em 0;
}

.commonality-cards,
.player-cards,
.option-cards {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;

  .mat-mdc-card,
  destiny-player {
    flex: 1;

    .mat-mdc-card-title {
      white-space: nowrap;
    }
  }
  .mat-mdc-chip {
    white-space: nowrap;

    &.weapons {
      background: rgb(80, 118, 163);
      background: linear-gradient(
        135deg,
        rgba(80, 118, 163, 1) 0%,
        rgba(78, 50, 99, 1) 50%,
        rgba(205, 173, 50, 1) 100%
      );
    }
    &.exotics {
      background: rgba(205, 173, 50, 1);
    }
    &.non-exotics {
      background: rgb(80, 118, 163);
      background: linear-gradient(
        135deg,
        rgba(80, 118, 163, 1) 0%,
        rgba(78, 50, 99, 1) 100%
      );
    }
    &.archetypes {
      background: #585b59;
    }
    &.types {
      background: #4a4b4a;
    }
  }
}

.code-block {
  background-color: #2f3136;
  border: solid 1px #202225;
  padding: 0.5em;
  border-radius: 0.25em;
}
