.main-content {
  max-width: 750px;
  margin: 0 auto;
  padding: 1em;
}

img {
  max-width: 100%;
}
ol li {
  padding: 1em 0;
}
h3 {
  margin-top: 5em;
}
.mat-radio-button {
  padding: 0.5em 1em;
}
.mat-checkbox {
  padding: 0.5em 1em;
}
.mat-button-base {
  margin: 0.5em 1em;
}
