<div class="main-content">
  <destiny-player
    *ngFor="let player of players; index as i"
    [player]="player"
    [index]="i"
  ></destiny-player>

  <button
    (click)="addPlayer()"
    mat-mini-fab
    color="accent"
    aria-label="Add Player"
  >
    <mat-icon>add</mat-icon>
  </button>
  <br />
  <br />

  <mat-form-field color="accent">
    <mat-label>Minimum Power</mat-label>
    <input matInput value="1100" (input)="changeMinPower($event)" />
  </mat-form-field>

  <div>
    Commonalities
    <ul>
      <li>
        {{ intersection.kineticSlot.exoticSet.size }} Unique Kinetic Exotics
      </li>
      <li>
        {{ intersection.kineticSlot.weaponSet.size }} Unique Kinetic Non-Exotic
        Weapons
      </li>
      <li>
        {{ intersection.kineticSlot.archetypeSet.size }} Kinetic Weapon
        Archetypes
      </li>
      <li>{{ intersection.kineticSlot.typeSet.size }} Kinetic Weapon Types</li>
    </ul>
    <ul>
      <li>
        {{ intersection.energySlot.exoticSet.size }} Unique Energy Exotics
      </li>
      <li>
        {{ intersection.energySlot.weaponSet.size }} Unique Energy Non-Exotic
        Weapons
      </li>
      <li>
        {{ intersection.energySlot.archetypeSet.size }} Energy Weapon Archetypes
      </li>
      <li>{{ intersection.energySlot.typeSet.size }} Energy Weapon Types</li>
    </ul>
    <ul>
      <li>{{ intersection.powerSlot.exoticSet.size }} Unique Power Exotics</li>
      <li>
        {{ intersection.powerSlot.weaponSet.size }} Unique Power Non-Exotic
        Weapons
      </li>
      <li>
        {{ intersection.powerSlot.archetypeSet.size }} Power Weapon Archetypes
      </li>
      <li>{{ intersection.powerSlot.typeSet.size }} Power Weapon Types</li>
    </ul>
  </div>

  <div>
    <section class="example-section">
      <mat-checkbox [(ngModel)]="exotics" class="example-margin"
        >Include Exotics</mat-checkbox
      >
    </section>
    <mat-radio-group
      aria-label="Randomization Type"
      [(ngModel)]="randomizationType"
    >
      <mat-radio-button value="weaponSet" checked="true"
        >Weapons</mat-radio-button
      >
      <mat-radio-button value="archetypeSet">Archetypes</mat-radio-button>
      <mat-radio-button value="typeSet">Types</mat-radio-button>
    </mat-radio-group>
  </div>
  <button color="primary" (click)="randomize()" mat-raised-button>
    Randomize & Copy to Clipboard
  </button>
  <div>{{ searchText }}</div>

  <h3>A very indepth and helpful tutorial:</h3>

  <ol>
    <li>
      Instruct all players to export their Weapons spreadsheet from DIM's
      Settings page.
      <strong>Important:</strong> All players must have DIM set to the same
      language for this to work. Here's a handy screenshot showing the location
      of the export button in DIM:
      <img src="./assets/dim-export.png" />
    </li>
    <li>
      Collect the destinyWeapons.csv files your players just exported. Ask them
      to rename the CSV file before sending it to you if you'd like to make
      things easier for yourself.
    </li>
    <li>
      Import a CSV file for each player at the top of this page. You can add a
      player name to keep track of which file is which, but it's not necessary
      to do so for the randomizer to work its magic.
    </li>
    <li>
      Choose your randomization type:
      <ul>
        <li>
          <strong>Weapons</strong> will choose a random weapon that all players
          possess for each weapon slot (e.g. Chroma Rush)
        </li>
        <li>
          <strong>Archetypes</strong> will choose a random weapon archetype that
          all players possess for each weapon slot (e.g. Kinetic Precision Frame
          Auto Rifles)
        </li>
        <li>
          <strong>Types</strong> will choose a random weapon type that all
          players possess for each weapon slot (e.g. Kinetic Auto Rifles)
        </li>
      </ul>
    </li>
    <li>
      Enable or disable exotics. This works slightly differently for each
      randomization type (and is probably buggy).
    </li>
    <li>
      Click the "Randomize & Copy to Clipboard" button, then paste into your
      group chat of choice.
    </li>
    <li>
      Have all players copy-paste the string you just sent into their DIM search
      bar.
    </li>
    <li>
      At this point, you <em>can</em> let your players choose from the search
      results, but my preference is to request they use the "Randomize from
      Search" button, pictured here:
      <img src="./assets/randomize-from-search.png" />
    </li>
  </ol>
</div>
