@use '@angular/material' as mat;

// Include non-theme styles for core.
@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);

@include mat.typography-hierarchy($theme);

body {
  margin: 0;
  padding: 0;
}

.mat-mdc-radio-button {
  display: block;
}

.mat-mdc-card {
  padding: 0.5em 1em;
}

.mat-bottom-sheet-container {
  padding: 0 !important;
}
.mdc-list-item--with-leading-avatar .mdc-list-item__start {
  border-radius: 0 !important;
}
