<mat-card class="player-card" *ngIf="player?.status === 'loading'">
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card class="player-card" *ngIf="player?.status !== 'loading'">
  <mat-card-header>
    <img
      *ngIf="player?.emblemPath"
      mat-card-avatar
      [src]="'https://www.bungie.net' + player.emblemPath"
      alt="emblem"
    />
    <mat-card-title>
      {{ player.name }}<span class="nameCode">#{{ player.nameCode }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="player?.status === 'chooseMembership'">
    <mat-action-list>
      <mat-list-item
        *ngFor="let membership of player?.possibleMemberships"
        (click)="selectMembership(membership)"
      >
        <img
          matListItemAvatar
          [src]="'http://www.bungie.net' + membership.iconPath"
          alt="..."
        />
        <h3 matListItemTitle>
          {{ membership.bungieGlobalDisplayName
          }}<span class="nameCode"
            >#{{ membership.bungieGlobalDisplayNameCode }}</span
          >
        </h3>
      </mat-list-item>
    </mat-action-list>
  </mat-card-content>
  <mat-card-content *ngIf="player?.status !== 'chooseMembership'">
    <span *ngIf="player?.status === 'erred'">Error loading Guardian</span>
    <span
      *ngIf="
        player?.status === 'ready' &&
        player?.suspectNonEquippedDisabled &&
        !player?.suspectProgressionDisabled
      "
    >
      Vault inaccessible. Enable "Show my non-equipped Inventory" on Bungie.net
    </span>
    <span
      *ngIf="
        player?.status === 'ready' &&
        player?.suspectProgressionDisabled &&
        !player?.suspectNonEquippedDisabled
      "
    >
      Collections inaccessible. Enable "Show my progression" on Bungie.net
    </span>
    <span
      *ngIf="
        player?.status === 'ready' &&
        player?.suspectProgressionDisabled &&
        player?.suspectNonEquippedDisabled
      "
    >
      Vault and Collections inaccessible. Enable "Show my non-equipped
      Inventory" and "Show my progression" on Bungie.net
    </span>
  </mat-card-content>

  <mat-card-actions>
    <mat-chip-set *ngIf="player?.status === 'ready'">
      <mat-chip class="non-exotics">
        {{ getNonExoticCount() }}
      </mat-chip>
      <mat-chip *ngIf="exotics !== 'exclude'" class="exotics">
        {{ getExoticCount() }}
      </mat-chip>
    </mat-chip-set>
    <div class="spacer"></div>
    <button
      (click)="refreshPlayer()"
      mat-icon-button
      aria-label="Refresh Player"
      *ngIf="player?.localPlayer"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
